<STYLE type=text/css>
BODY {font-size:9pt;font-family:Tahoma,Verdana,MS Sans Serif,Courier New;}
TD,TR{font-size:9pt;}
A:link {COLOR: #003399;text-decoration:none;}
A:visited {COLOR: teal;text-decoration:none;}
A:hover {COLOR: red}
FONT {TEXT-DECORATION: none}
INPUT.text,INPUT.file,SELECT,TEXTAREA{color:#000000;background-color:#F0F0F0;border:1 solid #101010}
FONT.strong {COLOR: #000000; FONT-WEIGHT: bold}
</style>