BODY
{
}
.jobjx_input
{
    BACKGROUND-COLOR: #d8d7bc;
    BORDER-BOTTOM: #000000 1px solid;
    BORDER-LEFT: #000000 1px solid;
    BORDER-RIGHT: #000000 1px solid;
    BORDER-TOP: #000000 1px solid;
    COLOR: black
}
